discord.py
fire
loguru
tdqm
tomlkit
torch
torchdata
torchtext

accelerate
bitsandbytes
deepspeed
evaluate
mpi4py # need to `apt install libopenmpi-dev python3-dev` for this to compile
scikit-learn
transformers